.input {
  height: 22px;
  padding: 0.5rem 1rem;
  border: 1px solid #e7e4e4;
  border-radius: 4px;
  width: 300px;
}

.select {
  height: 40px;
  padding: 0.5rem 1rem;
  border: 1px solid #e7e4e4;
  border-radius: 4px;
  width: 100px;
}

.wrapper {
 border: 1px solid #f5f5f5;
 border-radius: 4px;
 padding: 8px 12px;
 margin-bottom: 1rem;
}

.filters {
  width: 50%;
  display: flex;
  gap: 12px;

  button {
    width: 100px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    flex-wrap: wrap;
  }
}